.AppWindow {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
}

.BackgroundImage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../Assets/Home/home_background.jpg");
    background-size: cover;
}

.ContainerWindowForSideBarOn {
    height: calc(100% - 56px);
    margin-left: 250px;
    width: calc(100% - 250px);
    position: absolute;
    overflow: hidden;
    transition: 350ms;
}

.ContainerWindowForSideBarOff {
    height: calc(100% - 56px);
    width: 100%;
    position: absolute;
    overflow: hidden;
    transition: 350ms;
}
